runs/*/
runs/*.log

.venv/
*.pyc
__pycache__/


# These are temporary, to allow for locally modified versions be bundeled,
# we can install them from remote repo using pip withought cloning first here
pnmkit/
image3kit/
snm/
xpm/

# user notes
TODO.md
