git+https://github.com/image3kit/image3kit.git
# git+https://github.com/image3kit/pnmkit.git
vtk
streamlit
streamlit_code_editor
Pillow
pytest
scipy
sqlalchemy
imageio
imageio-ffmpeg
pyvista[jupyter]
stpyvista

